<div class= "panel panel-default cat-panel main-panel center-block">
  <div class="panel-body cat-panel-body">
    <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
      <%= link_to new_cat  do %>
        <% if new_cat.image_file_name %>
          <%= image_tag new_cat.image.url(:medium) , class: "object-fit_contain_medium cat-picture img-circle"%>
        <% elsif %>
          <img alt="User Pic" src="https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg" class="cat-picture img-responsive img-circle ">
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12 col-xs-12">
      <div class="col-md-2 col-xs-2">
        <%= link_to dislike_cat_path(new_cat), class: "btn btn-danger btn-circle btn-xl" do %>
          <i class="glyphicon glyphicon-remove white-glyphicon", style="top : 13px"></i>
        <% end %>
      </div>
      <div class="col-md-8 col-xs-8 text-center">
        <h2> <%= new_cat.name  %> </h2>
      </div>
      <div class="col-md-2 col-xs-2">
        <%= link_to like_cat_path(new_cat) , class: 'btn btn-success btn-circle btn-xl ' do %>
          <i class="glyphicon glyphicon-heart white-glyphicon", style="top : 13px"></i>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 text-center">
      <div class="h-divider"></div>
      <h3>  <%= new_cat.cat_type.name %>   </h3>
      <h3>  <%= new_cat.age.to_s + " - " + new_cat.gender %> </h3>
      <h3>  <%= new_cat.location.city_and_country %> </h3>
    </div>
  </div>
</div>
